.button-invest {
    background-color: rgb(255, 234, 0);
}
.button-invest:hover {
    background-color: rgba(255, 234, 0, 0.6);
}

.card-loan__button-invest {
    width: 30%;
    height: 35px;
    align-self: flex-end;
}