.modal-wrapper {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-invest {
    background-color: white;
    z-index: 2;
    width: 400px;
    height: 600px;
    border: 1px solid black;
    border-radius: 15px;
    padding: 15px 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.modal-invest__input {
    outline: none;
    border: none;
    border-bottom: 1px solid black;
    font-size: 1.2rem;
    padding: 2px 2px;
    grid-column: 1 / span 2;
}
.modal-invest__input:focus {
    border-bottom: 3px solid lightgreen;
}

.modal-window__button-container {
    display: flex;
    justify-content: space-between;
}

.button-cancel {
    background-color: rgba(255, 0, 0, 0.9);
}
.button-cancel:hover {
    background-color: rgba(255, 0, 0, 0.6);
}

.modal-window__button {
    width: 35%;
    height: 35px;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
}