* {
    margin: 0 0;
    padding: 0 0;
    box-sizing: border-box;
}

body {
    background-color: rgba(211, 211, 211, 0.3);
}

.button {
    outline: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.1em;
}

#root {
    display: flex;
    justify-content: center;
}

.main {
    width: 100%;
    max-width: 1170px;
    display: flex;
    flex-direction: column;
}

.main__total-amount {
    margin-top: 30px;
    align-self: center;
    font-size: 1.3em;
    font-weight: bold;
}