.card-loan {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 6px 1px gray;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.page-loans__card-loan {
    padding: 15px 15px;
}

.details-list__li {
    list-style-type: none;
    margin: 5px 0;
}